$primary: #61892F;
$secondary: #86C232;
$dark-grey: #222629;
$grey: #474B4F;
$light-grey: #D7D7D7;

@import './components/main.scss';
@import './components/sidebar.scss';
@import './components/bottomMenu.scss';