$primary: #61892F;
$secondary: rgb(134, 194, 50);
$dark-grey: #222629;
$grey: #474B4F;
$light-grey: #D7D7D7;
$lighter-grey: #383a3c;

@import './components/main.scss';
@import './components/sidebar.scss';
@import './components/bottomMenu.scss';