.bottomMenu {
  z-index: 50;
  float: left;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

  &.opened {
    transform: translateY(0);
  }

  & .resizer {
    width: 100%;
    height: 10px;
    user-select: none;

    &:hover {
      cursor: ns-resize;
    }
  }

  & .shadowArea {
    box-shadow: rgba(0, 0, 0, 0.9) 0px -40px 36px -28px inset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  & .filters{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
    flex-wrap: wrap;
    padding-top: 15px;

    & .multipleFiltersContainer{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      justify-content: flex-start;
      align-items: flex-start;
    }

    & .filterContent{
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      font-size: 16px;

      & .concreteFilter{
        background-color: $lighter-grey;
        border-radius: 5px; 
        height: 30px;
        width: 18 0px;
        border: 1px solid rgb(154, 154, 154);
        
        //rgb(221, 217, 217)
        color: white;
        font-size: 15px;

        &:focus{
          border: 1px solid $secondary;
          outline: none;
        }
      }
    }
  }

  & .filterSection {
    border-bottom: 1px solid $grey;
  }

  & .content {
    background-color: $dark-grey;
    width: calc(100% - 1px);
    border-left: 1px solid $grey;
    font-size: 20px;
    font-family: Righteous;
    color: $secondary;
    pointer-events: all;
    overflow-y: auto;

    & span {
      padding: 10px;
    }
  }

  svg {
    fill: currentColor;
    color: white;
    margin-bottom: 30px;
    scale: 1.5;
    color: #ccc;
    pointer-events: all;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  & .droneTable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: $light-grey;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    & button {
      font-size: 15px;
      margin: 3px;
      width: 45px;
    }

    & .operator {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      height: 100%;

      & img {
        height: 30px;
      }
    }

    & th {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 15px;
    }

    & td, th {
      font-size: 15px;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    & tr:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.15);
    }

    & tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.075);
    }
  }
}

thead {
  & tr:nth-child(odd) {
    background-color: #3d5c19 !important;
  }
  
  & tr:nth-child(even) {
    background-color: #557c25 !important;
  }
}

.tableContainer {
  padding: 10px;

  & .time {
    color: rgb(154, 154, 154);
    font-size: 14px;
  }

  & .droneTable {
    padding: 0px;
    box-shadow: none;
  }

  & .controls {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(82, 82, 82);
    border-top: 1px solid rgb(82, 82, 82);
    display: flex;
    gap: 10px;

    & button {
      font-size: 18px;
    }
  }
}

.chartContainer {
  & .recharts-surface {
    scale: 1;
  }
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: rgba(#fff, .2);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: ew-resize;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -150rem 0 0 150rem rgba(#fff, 0.6);
  }

  &::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -150rem 0 0 150rem rgba(#fff, 0.2);
  }
}
