body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.closeButton {
  padding: 0;
  margin: 0;
  line-height: 0;
  background: none;
  border: none;
  color: $secondary;

  &:hover {
    color: $primary;
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }
}

.menuDropdown {
  color: $secondary;
  display: flex;
  align-items: center;
  user-select: none;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    color: $primary;
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 40;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 10px;
  color: white;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;

  &:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154, 0.3);
  }
}

* {
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  
  scrollbar-width: thin;
  scrollbar-color: #717171 #2c2c2c;
}