.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $dark-grey;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 10px 2px $primary;
  z-index: 40;
  font-size: 20px;
  color: $secondary;
  font-family: Righteous;
  display: flex;
  flex-direction: column;

  & .header {
    width: calc(100% - 40px);
    padding: 20px;
  }

  & .container {
    padding: 20px;
    border-top: 1px solid $grey;

    &:last-of-type {
      margin-top: auto;
    }
  }

  & .droneEntries {
    padding: 10px;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;

    & .droneEntry {
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid rgb(154, 154, 154);
      border-radius: 10px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: rgb(154, 154, 154, 0.3);
      }

      & .extraLabel {
        font-size: 13px;
        color: lightgrey;
      }
    }
  }

  & .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &.opened {
    min-width: 300px;
    width: 20%;

    & .logo {
      width: 40%;
    }
  }

  &.closed {
    width: 100px;

    & .logo {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    & .closeButton {
      display: none;
    }
  }

  & button {
    font-size: 23px;
  }

  & h3 {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  & .sidebarButton {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 10px;
    color: white;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      background-color: rgb(154, 154, 154, 0.3);
    }
  }
}